<ion-view hide-back-button="false">
    <ion-nav-title>个人资料</ion-nav-title>
    <ion-content>
        <div class="list">
            <span class="item">
                <table-list-item
                        icon-left="img/personinfo-icon-name.png"
                        item-text="用户名"
                        text-show="true"
                        extra-text={{person.name}}>
                </table-list-item>
            </span>
            <span class="item">
                <table-list-item
                        icon-left="img/personinfo-icon-sex.png"
                        item-text="性别"
                        text-show="true"
                        extra-text={{person.sex}}>
                </table-list-item>
            </span>
            <span class="item">
                <table-list-item
                        icon-left="img/personinfo-icon-address.png"
                        item-text="地址"
                        text-show="true"
                        extra-text={{person.address}}>
                </table-list-item>
            </span>
            <span class="item">
                <table-list-item
                        icon-left="img/personinfo-icon-role.png"
                        item-text="角色"
                        text-show="true"
                        extra-text={{person.role}}>
                </table-list-item>
            </span>
        </div>
    </ion-content>
</ion-view>