<ion-view>
    <ion-nav-title>统计信息</ion-nav-title>
    <ion-content style="background:#F1F1F1">

<!--第一个部分-->
        <div style="background:white;
            width: 100%;
            height:150px;
            position:fixed;
            padding:10px;
            top:20px;"
            ng-controller="doMessage">
            <!-- 添加canvas标签，并加上红色边框以便于在页面上查看 -->
            <canvas id="myCanvas" width="120px" height="120px" value= 0.8></canvas>
            <div style="
                        width:50%;
                        height:30%;
                        position:absolute;
                        top:10px;
                        right:10px;
                        text-align:right;">
                <p style="font-size:15px;margin:0px;"><b>预警消息</b></p>
                <p style="color:gray; position:relative;top:0px;margin:0px;">Warning Messages</p>
            </div>
            <div style="width:150px;height:30px;position:absolute;right:10px;bottom:40px">
         
                <table width="100%" border="0px">
                    <tr>
                        <td style="width:50px;vertical-align:top;">
                            <p style="font-size:10px;margin:0px;"><img src="./img/statistic/lightPink.png"width="10" height="11" >已解决的消息</p>
                            <p style="font-size:10px;margin:0px;"><img src="./img/statistic/darkPink.png" width="10" height="11.5">未解决的消息</p>
                        </td>
                        <td style="width:20px;vertical-align:top;text-align:right" ng-controller="doMessage">
                            {{message.already}}<br>{{message.notyet}}</td>
                    </tr>
                </table>
            </div>
        </div>
        
<!--第二个部分-->

        <div style="background:white;
            width: 100%;
            height:150px;
            position:fixed;
            padding:10px;
            top:190px;">
            <!-- 添加canvas标签，并加上红色边框以便于在页面上查看 -->
            <canvas id="myCanvas2" width="120px" height="120px" value="0.4"></canvas>
            <div style="
                        width:50%;
                        height:30%;
                        position:absolute;
                        top:10px;
                        right:10px;
                        text-align:right;">
                <p style="font-size:15px;margin:0px;"><b>违规事件</b></p>
                <p style="color:gray; position:relative;top:0px;margin:0px;">Violent event</p>
            </div>
            <div style="width:170px;height:30px;position:absolute;right:10px;bottom:40px">
                <!--<ul style="list-style-type:disc;">
                    <li>已解决消息</li>
                    <li>未解决消息</li>
                </ul>-->
                <table width="100%" border="0px">
                    <tr>
                        <td style="width:70px;vertical-align:top;">
                            <p style="font-size:10px;margin:0px;"><img src="./img/statistic/lightBlue.png" width="10" height="10">已解决的违规事件</p>
                            <p style="font-size:10px;margin:0px;"><img src="./img/statistic/darkBlue.png" width="11" height="12">未解决的违规事件</p>
                        </td>
                        <td style="width:20px;vertical-align:top;text-align:right">
                            40%<br>60%</td>
                    </tr>
                </table>
            </div>
        </div>
    </ion-content>

</ion-view>