<ion-view hide-back-button="false">
    <ion-nav-title>违规事件</ion-nav-title>
    <ion-content>
        <div class="list" style="margin-top: 20px">
            <span class="item">
                <violation-list-item
                        top-text="李四违规事件"
                        badge-show="true"
                        badge-text="新"
                        bottom-text="李四在17号仓擅自打开粮仓清洗作业">
                </violation-list-item>
            </span>
            <span class="item">
                <violation-list-item
                        top-text="张丽违规事件"
                        bottom-text="张丽在12号仓擅自打开粮仓清洗作业">
                </violation-list-item>
            </span>
        </div>
    </ion-content>
</ion-view>