<ion-view style="background-color: #dadada" hide-back-button="true">
    <ion-nav-title>风险管控</ion-nav-title>
    <ion-content id="risk">
        <div class="list" style="margin-top: 20px">
            <a class={{itemClass[0]}} href="#/tab/warn" on-touch="onTouch(0)" on-release="onRelease(0)">
                <table-list-item
                        icon-left={{warn}}
                        item-text="粮仓预警"
                        icon-right="{{arrow}}">
                </table-list-item>
            </a>
            <a class={{itemClass[1]}} href="#/tab/violation" on-touch="onTouch(1)" on-release="onRelease(1)">
                <table-list-item
                        icon-left={{violation}}
                        item-text="违规事件"
                        icon-right="{{arrow}}">
                </table-list-item>
            </a>
            <a class={{itemClass[2]}} href="#/tab/statistic" on-touch="onTouch(2)" on-release="onRelease(2)">
                <table-list-item
                        icon-left={{statistic}}
                        item-text="统计信息">
                </table-list-item>
            </a>
        </div>
    </ion-content>
</ion-view>