<ion-view hide-nav-bar="true" hide-back-button="true">
    <ion-content>
        <ion-slide-box active-slide="myActiveSlide">
            <ion-slide>
                <div style="background: url('img/start1.jpg');width:100%;height:100%;background-size: 100%,100%"></div>
            </ion-slide>
            <ion-slide>
                <div style="background: url('img/start2.jpg');width:100%;height:100%;background-size: 100%,100%"></div>
            </ion-slide>
            <ion-slide>
                <div style="padding-top:130%;background: url('img/start3.jpg') no-repeat;width:100%;height:100%;background-size: 100%,100%">
                    <button ng-click="enter()" style="padding: 15px 25px;
                           border: 1px solid #108678;
                           border-radius: 5px;
                           color: #108678;
                           background: transparent;">
                        立即体验
                    </button>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
