<ion-view hide-back-button="true">
    <ion-nav-title>数据报表</ion-nav-title>
    <ion-content>
        <div class="list">
            <a class="item" href="">
               <table-list-item
                       icon-left="img/table-icon-plan.png"
                       item-text="计划完成报表"
                       icon-right="img/icon-grey-arrow-right.png">
               </table-list-item>
            </a>
            <a class="item" href="">
                <table-list-item
                        icon-left="img/table-icon-drug.png"
                        item-text="仓库管理报表"
                        icon-right="img/icon-grey-arrow-right.png">
                </table-list-item>
            </a>
            <a class="item green-yellow-bg" href="">
                <table-list-item
                        icon-left="img/table-icon-detail-light.png"
                        item-text="企业经营明细报表"
                        icon-right="img/icon-white-arrow-right.png">
                </table-list-item>
            </a>
            <a class="item" href="">
                <table-list-item
                        icon-left="img/table-icon-total.png"
                        item-text="企业经营汇总报表"
                        icon-right="img/icon-grey-arrow-right.png">
                </table-list-item>
            </a>
        </div>
    </ion-content>
</ion-view>