
 <!-- <ion-content>
    <ion-slide-box active-slide="myActiveSlide">
      <ion-slide>
        <div ng-include="home.html"></div>
      </ion-slide>
      <ion-slide>
        <div ng-include="table.html"></div>
      </ion-slide>
      <ion-slide>
        <div ng-include="risk.html"></div>
      </ion-slide>
      <ion-slide>
        <div ng-include="person.html"></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>-->

  <ion-tabs class="tabs-icon-bottom tabs-balanced">

      <ion-tab title="智能粮仓" href="#/tab/home"
               icon-on="icon-home-light" icon-off="icon-home">
          <ion-nav-view name="home-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="数据报表" href="#/tab/table"
               icon-on="icon-table-light" icon-off="icon-table">
          <ion-nav-view name="table-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="风险管控" href="#/tab/risk"
               icon-on="icon-risk-light" icon-off="icon-risk"
               badge="badges.news" badge-style="badge-assertive">
          <ion-nav-view name="risk-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="个人中心" href="#/tab/person"
               icon-on="icon-person-light" icon-off="icon-person">
          <ion-nav-view name="person-tab"></ion-nav-view>
      </ion-tab>
  </ion-tabs>

