<div style="padding: 7px 0">
    <img ng-src={{iconLeft}} width="15px" height="15px"
         style="position: relative;top: 2px;margin-left: -10px">
    <span style="color:#108678; font-size: 16px">{{leftBigText}}</span>
    <span style="color:#108678; font-size: 12px">{{leftSmallText}}</span>
    <img ng-src="img/icon-green-arrow-right.png" width="15px" height="19px" style="float: right;position: relative;top: 5px">
    <span style="color:#a2a2a2; font-size: 12px;float: right;margin-right: 3px;margin-top: 3px">{{rightGrayText}}</span>
    <span style="float: right;margin-right: 4px;font-size: 12px;margin-top: 3px">{{rightBlackText}}</span>
</div>